.msg {
    /* display: block; */
    position: relative;
    margin: 0px auto;
    border: none;
    border-radius: 3px;
    color: #222;

}
.start_add{
    width: 130px;
    top:100px;
    position: fixed;
    height: 90%;
    left: 10px;
    padding: 1px
}
.end_add{
    width: 130px;
    top:170px;
    position: fixed;
    height: 90%;
    left: 10px;
    padding: 1px
}
.thres{
    width: 130px;
    top:250px;
    position: fixed;
    height: 90%;
    left: 20px;
    padding: 1px
}
